
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirm Email</h1>
<div class="btn btn-primary ">
    Before you can login, Please confirm your email by click on the confirmation link we haved email you
</div>

