
@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Forgot Password Confirmation</h1>
<div class="btn btn-primary">
    Before you can reset your password, Please confirm your email by click on the confirmation link we haved email you
</div>

