
@{
    ViewData["Title"] = "Successfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Successfully</h1>

<div class="btn btn-primary ">
    Your email has been verified ! You can click the button to go to Login
</div>
<button class="btn btn-primary" asp-action="login" asp-controller="Account">Login</button>