
@{
    ViewData["Title"] = "CheckoutComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Checkout Complete</h1>
<div class="btn btn-primary">
    We will complete your order through your phone number, so please keep the phone ! Click the button to continue shopping 
    <br />
    Thank you so much !
</div>


